<% provide(:title, "Sign in") %>
<h1 class='animated fadeInUp'>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, class: 'animated fadeInLeft' %>
      <%= f.text_field :email, class: 'animated fadeInRight' %>

      <%= f.label :password, class: 'animated fadeInLeft' %>
      <%= f.password_field :password, class: 'animated fadeInRight' %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary animated fadeInUp" %>
    <% end %>

    <p class='animated fadeInUp'>New user? <%= link_to "Sign up now!", signup_path, class: 'animated fadeInUp' %></p>
  </div>
</div>
